body {
    /*Reserve some space for the navbar*/
    padding: 70px 0px;
}

.left-padding-20 {
    padding: 0 0 0 20px;
}

.horizontal-padding-50 {
    padding: 0 50px;
}

.vertical-margin-50 {
    padding: 0 px;
}

.responsive-horizontal-padding {
    padding: 0 200px;
}

/*Decrease padding on smaller screens*/
@media only screen and (max-width: 1200px) {
    .responsive-horizontal-padding {
        padding: 0 75px;
    }
}

@media only screen and (max-width: 650px) {
    .responsive-horizontal-padding {
        padding: 0 50px;
    }
}

.nav-link {
    color: whitesmoke!important;
    padding: 10px;
}

.active {
    font-weight: 700;
}

.light {
    color: #444444;
    font-weight: 300;
}

.responsive-title {
    margin: 50px 0;
    padding: 20px 200px;
    background-color: #00B08B;
    color: white;
    font-size: 2em;
    font-weight: 500;
}

/*Decrease padding on smaller screens*/
@media only screen and (max-width: 1200px) {
    .responsive-title {
        padding: 20px 75px;
    }
}

@media only screen and (max-width: 650px) {
    .responsive-title {
        padding: 20px 50px;
    }
}

.emphasis {
    color: #444444;
    font-size: 1.5em;
}