body {
    /*Reserve some space for the navbar*/
    padding: 85px 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.left-padding-20 {
    padding-left: 20px;
}

.horizontal-padding-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.vertical-margin-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.responsive-horizontal-padding {
    padding-left: 200px;
    padding-right: 200px;
}

/*Decrease padding on smaller screens*/
@media only screen and (max-width: 1200px) {
    .responsive-horizontal-padding {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media only screen and (max-width: 650px) {
    .responsive-horizontal-padding {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.nav-link {
    color: whitesmoke!important;
    padding: 10px;
}

.active {
    font-weight: 700;
}

.light {
    color: #444444;
    font-weight: 300;
}

.title {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #00B08B;
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.emphasis {
    color: #444444;
    font-size: 1.5em;
}

.background-video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.high-impact {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 20px black;
}